body {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

canvas {
    background: lightGray;
}

button {
    margin-top: 10px;
    width: 200px;
    height: 50px;
}

#codearea {
    width: 630px;
    float: right;
}

#code_div {
    text-align: left;
}

#log_textarea {
    margin-top: 10px;
    width: 400px;
    height: 100px;
    resize: none;
}

#error_textarea {
    margin-top: 10px;
    width: 550px;
    height: 100px;
    resize: none;
}